.kucukbasliklar {
         font-weight:bold;
          font-family: Tahoma, Verdana;
           font-size: 15px;
         }
         .bilgiler{
           text-align:center;
           color:#6b8f59;
           font-size:15px;
           font-weight:normal;
           font-family:normal;

         }
